<!DOCTYPE html>
<html lang="ko">
<head>
	<link rel="stylesheet" href="/css/error.css" type="text/css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Arank - 404</title>
</head>

<body>
	<div class="tab">
			<h1>404</h1>
			<h2>페이지 주소를 잘못 입력하셧습니다.</h2>
			<a href="http://localhost:3000">홈으로 이동</a>
	</div>
</body>
</html>
